@page "/cart"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Components.Shared
@using MyCheeseShop.Model
@inject ShoppingCart ShoppingCart
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore

<h3>Cart</h3>

@if (ShoppingCart.Count() == 0)
{
    <p style="text-align:center; font-size:30px">Cart is empty :( have this gorgeous photo of Windows95Man instead</p>
    <img src="/img/windows.jpg" />
    @* <p style="text-align:center; font-size:30px">Cart is empty :(</p> *@
}
else
{
<CartSummary />;
}


@code {
    protected override void OnInitialized()
    {
        ShoppingCart.OnCartUpdated += StateHasChanged;
    }

    private void GoToStore()
    {
        NavigationManager.NavigateTo("/");
    }

    private void GoToCheckout()
    {
        NavigationManager.NavigateTo("/checkout");
    }
}

<div class="mb-3"/>

@if (ShoppingCart.Count() != 0)
{
<div class="row">
    <div class="col-md-3"/>
    <div class="col-md-3">
        <div class="d-grid gap-2">
            <a href="/" class="btn btn-outline-primary">Back to Cheeses</a>
        </div>
    </div>
        <div class="col-md-3">
            <div class="d-grid gap-2">
                <a @onclick="GoToCheckout" class="btn btn-outline-primary">Checkout</a>
            </div>
        </div>
        <div class="col-md-3" /> 
    </div>
}
else
{
    <div class="d-grid gap-2">
        <a href="/" class="btn btn-outline-primary">Back to Cheeses</a>
    </div>
}